@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  background-color: #363945;
  color: #e6f4ff;
}

.btn {
  display: inline-block;
  background: #00a7e1;
  color: #e6f4ff;
  border: none;
  padding: 10px 20px;
  margin: -12%;
  border-radius: 30%;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.96);
}

.btn:hover {
  background-color: #14c4ff;
}

.btn-block {
  display: block;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

li {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 15.83%;
  border-bottom:2px solid #2e313b;
}

li:last-child {
  border-right: none;
}

li:first-child {
  width: 5%;
}

.nav li {
  border-right:2px solid #2e313b;
}

.close{
  color: #e24c4f;
  cursor: pointer;
  padding-top: 5px;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}